In [5]:
import pandas as pd
import numpy as np
products = pd.read_csv('./course-files/WA_Sales_Products_2012-14.csv')
products.head()

,Retailer country,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
0,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Deluxe Cook Set,2012,Q1 2012,59628.66,489,0.347548
1,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Double Flame,2012,Q1 2012,35950.32,252,0.474274
2,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Dome,2012,Q1 2012,89940.48,147,0.352772
3,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Gazer 2,2012,Q1 2012,165883.41,303,0.282938
4,United States,Fax,Outdoors Shop,Camping Equipment,Sleeping Bags,Hibernator Lite,2012,Q1 2012,119822.20,1415,0.291450

In [3]:
groups = products.groupby(by='Retailer country')

In [4]:
groups.mean().head()

                         Year       Revenue    Quantity  Gross margin
Retailer country
Australia         2012.859482  29822.638237  545.915689      0.451174
Austria           2012.875971  29354.380023  544.330917      0.450913
Belgium           2012.878976  26134.385420  484.911321      0.448410
Brazil            2012.878954  33170.824647  595.332117      0.448023
Canada            2012.839946  41682.874366  746.098936      0.451011

In [6]:
groups.sum().head()

                      Year       Revenue  Quantity  Gross margin
Retailer country
Australia          7377130  1.093000e+08   2000781   1641.822415
Austria            7773727  1.133666e+08   2102206   1723.839177
Belgium            7467781  9.695857e+07   1799021   1653.288385
Brazil             6618346  1.090657e+08   1957452   1466.380765
Canada            11922051  2.468877e+08   4419144   2662.767825

In [7]:
groups.count().head()

,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
Retailer country,,,,,,,,,,
Australia,3665,3665,3665,3665,3665,3665,3665,3665,3665,3639
Austria,3862,3862,3862,3862,3862,3862,3862,3862,3862,3823
Belgium,3710,3710,3710,3710,3710,3710,3710,3710,3710,3687
Brazil,3288,3288,3288,3288,3288,3288,3288,3288,3288,3273
Canada,5923,5923,5923,5923,5923,5923,5923,5923,5923,5904

In [8]:
groups.min()

,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
Retailer country,,,,,,,,,,
Australia,E-mail,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,1,-0.389517
Austria,Sales visit,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,4,-0.086616
Belgium,Fax,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,5,-1.476136
Brazil,E-mail,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,4,-2.085496
Canada,E-mail,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,1,-1.373907
China,Fax,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,3,-1.316279
Denmark,Fax,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,1,-1.103558
Finland,Sales visit,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,2,-1.524890
France,E-mail,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,2,-1.729892
Germany,E-mail,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,2,-1.620245
Italy,E-mail,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,1,0.000766
Japan,E-mail,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,3,-2.025405
Korea,Fax,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,3,-0.364926
Mexico,Mail,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,1,-0.179180
Netherlands,Fax,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,4,-1.165024
Singapore,Fax,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,7,-0.213774
Spain,Fax,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,1,-3.913570
Sweden,E-mail,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,1,-0.030436
Switzerland,E-mail,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,1,-1.462342
United Kingdom,E-mail,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,2,-2.858958
United States,E-mail,Department Store,Camping Equipment,Binoculars,Aloe Relief,2012,Q1 2012,0.0,3,-12.853678

In [9]:
groups.max().head()

,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
Retailer country,,,,,,,,,,
Australia,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,516135.14,20031,0.770476
Austria,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,321202.98,9662,0.770476
Belgium,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,310499.39,13200,0.770476
Brazil,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,352749.39,12157,0.770476
Canada,Web,Warehouse Store,Personal Accessories,Woods,Zone,2014,Q4 2013,648467.60,27268,0.770476

In [11]:
products.loc[(products['Retailer country'] =='Australia') &
             (products['Order method type'] == 'Web') &
             (products['Retailer type'] == 'Warehouse Store') &
             (products['Product line'] == 'Personal Accessories')].head()

,Retailer country,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
12516,Australia,Web,Warehouse Store,Personal Accessories,Eyewear,Capri,2012,Q2 2012,43012.40,1468,0.139590
12517,Australia,Web,Warehouse Store,Personal Accessories,Knives,Single Edge,2012,Q2 2012,16871.25,1375,0.302363
12518,Australia,Web,Warehouse Store,Personal Accessories,Navigation,Trail Master,2012,Q2 2012,35500.00,142,0.052200
21256,Australia,Web,Warehouse Store,Personal Accessories,Watches,Legend,2012,Q3 2012,18900.00,126,0.226667
21257,Australia,Web,Warehouse Store,Personal Accessories,Eyewear,Fairway,2012,Q3 2012,41001.70,3118,0.073764

In [14]:
groups['Revenue'].sum().to_frame().head()

                       Revenue
Retailer country
Australia         1.093000e+08
Austria           1.133666e+08
Belgium           9.695857e+07
Brazil            1.090657e+08
Canada            2.468877e+08

In [15]:
groups['Revenue','Quantity'].mean().head()

                       Revenue    Quantity
Retailer country
Australia         29822.638237  545.915689
Austria           29354.380023  544.330917
Belgium           26134.385420  484.911321
Brazil            33170.824647  595.332117
Canada            41682.874366  746.098936